<h1>Stupid Coaching</h1>
<div class="question">
<p><%= @question %></p>
<p><%="-You"%>
</div>

<div class="answer">
<p class="coach">
<% if @question.downcase == 'i am going to work'%>
    <%= 'Great!' %>
<% elsif @question.include? '?'%>
    <%= 'Silly question, get dressed and go to work' %>
<% else %>
<%= 'I don\'t care, get dressed and go to work' %>
<% end %>
<p><%= '-Your coach' %></p>
</div>
<p><%= link_to "Ask a further question", questions_path %></p>